@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/*
#ff167b rosa fuerte
#f15b9c;
#ec7777
#FBE6EF
*/
* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    min-height: 100%;
}
h1,h2,h3{
    color:#ff167b;
}
h1{
    text-align: center;
    margin: 1.8rem 1.3rem;

}
h3{
    font-size: 1.4rem;
}
p{
    font-size: 0.8rem;
    text-align: justify;
}
a{
    font-size: 0.8rem;
    text-decoration: none;
    color: rgb(42, 42, 42);
    font-weight: bolder;
    transition: 120ms;
    cursor: pointer;
}
a:hover{
    color: #ff167b;
    font-size: 0.9rem;
}
i:hover{
    border: none;
}

/*HEADER*/
.header{
    background-color: #db6f9d;
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 15vh;
    overflow: hidden;
}

.header__logo{
    flex-grow: none;
    width: 15em;
}

.header__nav{
    width: 100%;
    text-align: end;
    padding: .8rem;
}
.header__nav--link{
    padding: inherit;
    transition: 300ms;
    border-bottom: solid #ff167b00 3px;
}
.header__nav--link.actual, .header__nav--link:hover{
    color: #FBE6EF;
}
.header__nav--link:hover{
    border-bottom: solid #ff167b 3px;
}

.header__nav--auth{
    color: #ff167b;
    background-color: #FBE6EF;
    border-radius: 100vw;
    padding: 2px 5px;
}
/*TITLE*/

.title{
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:url(../assets/bg-adopcion.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.busqueda {
    width: 35%;
    display: flex;
    align-content: stretch;
    gap: 2px;
}

.busqueda input {
    border-radius: 100vw 0 0 100vw;
    width: 80%;
    padding: 0.5rem 1rem;
    border: none;
}
.busqueda input:focus {
    width: 80%;
    outline: none;
}

.busqueda input[type=submit] {
    font-weight: 600;
    cursor: pointer;
    border-radius: 0 100vw 100vw 0;
    font-size: 12px;
    width: 5rem;
    padding: 0.5rem 1rem;
    background-color: #FBE6EF;
    color: #ff167b;
    transition: 250ms;
}
.busqueda input[type=submit]:hover {
    background-color: #ff167b;
    color: #FBE6EF;
}

/*Section*/
.section{
    margin: 1rem;
    padding: 1rem;
}

/*CARDS*/
.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.card{
    display: flex ;
    flex-direction: column;
    height: 25rem;
    width: 15rem;
    background-color: #FBE6EF;
    overflow: hidden;
    border-radius: 5px;
    transition: 300ms;
    align-items: center;
}
.card:hover {
    transform: scale(1.1);
    border: solid #ff167b 1px;
}
.card__img{
    width: 100%;
    height: 25rem;
    overflow: hidden;
}

.card__main {
    /* background-color: #f58dba; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    margin: 1rem;
    height: 100%;
}
.card__main__especie {
    display: flex;
}
.card__main__especie p{
    background-color: #ff167b3f;
    font-size: 10px;
    padding: .2rem .4rem;
    border-radius: 100vh;
}
/* .card__img img{
    max-width:  100%;
    border-radius: 2px;
} */


    /* font-size: .2em; */
    /* overflow: hidden;
    width: 20rem;
    height: 30rem;
    margin:2rem 1rem;
    */
/* }
.card:hover{
    transform: scale(1.1);
    border: solid #ff167b 1px;
}
.card__img{
    height: 50%;
    overflow: hidden;

}
.card__main{
    height: 100%;
    text-align: left;
    margin: 1rem;
}
.card__main > *{
    padding: 4px;
}
.card__main__especie{
    font-weight: 300;
    display: inline;
    background-color: #ff167b3f;
    padding: 3px 5px;
    border-radius: 100vw;
}
.card__main__presentacion{
    height: 22%;
}
.card__btn{
    margin-top: 3px;
    text-align: end;
}

.card__btn .btn{
    background-color: #FBE6EF;
    color: #ff167b;
    padding: 2px 5px;
    border-radius: 100vw;
    transition: 400ms;
}
.card__btn .btn i{
    display: none;
    transition: 400ms;
}
.card__btn .btn:hover {
    background-color: #ff167b;
    color: #FBE6EF;
    border: solid #ff167b 1px;
}
.card__btn .btn:hover i {
    display: inline;
} */
footer{
    background-color: #f58dba;
    text-align: center;
    padding: 5px 0;
}
footer a:hover{
    color: #fff;
}